<div class="body-500">
<div class="error-header" style="background-color:#f86d51;"> </div>
    <div class="container ">
        <section class="error-container text-center" style="background:#fb6e52;">
            <h1 style="background-color:#ffffff;left: 0px;width: 100%;position: absolute;">500</h1>
            <div class="error-divider">
                <h2>ooops!!</h2>
                <p class="description">SOMETHING WENT WRONG.</p>
            </div>
            <a (click)="goBackToHome()" class="return-btn" style="cursor: pointer;"><i class="fa fa-home"></i>Go To Home</a>
        </section>
    </div>
<div class="clearfix"></div>
</div>