/****** Object:  UserDefinedTableType [amer].[tblIds]    Script Date: 25-05-2020 09:17:26 ******/
CREATE TYPE [amer].[tblIds] AS TABLE(
	[id] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[tblids]    Script Date: 25-05-2020 09:17:26 ******/
CREATE TYPE [dbo].[tblids] AS TABLE(
	[id] [int] NULL
)
GO
