<!-- <div id="bg">
    <img src="assets/img/loginbg.jpg" alt="">
</div> -->
<div style="background-image: url(assets/img/Login-bg1.jpg);background-size: cover;width:100%;height: 100%;">
    <!-- <img src="assets/img/Login-bg.jpg" alt="Jabra"> -->
</div>
<div class="login-container animated fadeInDown">
    <div class="loginbox">
        <div class="form-material">
            <div class="text-center" style="margin-bottom:20px;"><img style="width: 33%;" src="assets/img/arc-teryx-logo-black-transparent.png" /></div>
            <div class="form-group">
                <input type="text" class="form-control" autocomplete="off" ng-class="submited?'ngdirty':''" [(ngModel)]="userName" placeholder="Email" ng-keyup="enter($event)" required />
                <div>
                </div>
            </div>
            <div class="loginbox-submit text-align-right" style="cursor:pointer;">
                <input type="button" class="btn btn-primary btn-block" (click)="onForgotPassword()" [disabled]="userName.length<=0" value="Submit">
                <!-- <button type="button" routerLink="/auth/login" class="btn btn-blue">Cancel</button> -->
                <div class="clearfix"></div>
            </div>
            <hr>
            <div class="loginbox-forgot">
                <button class="btn-link" routerLink="/auth/login">Back To Login</button>
            </div>
        </div>

    </div>
</div>
<!-- <div class="container-fuild container-footer">
    <div class="container brand-img">
        <img src="assets/img/salomon-f.jpg" />
        <img src="assets/img/wilson-f.jpg" />
        <img src="assets/img/automic-f.jpg" />
        <img src="assets/img/arcteryx-f.jpg" />
        <img src="assets/img/suunto-f.jpg" />

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div> -->
<!-- <message #pop cssClass="modal-msg" (Confirm)="onConfirmPopup()" (Cancel)="onCancelPopup()"></message> -->