<!-- Old HTML Code -->
<!-- [hidden]="!ListView" -->
<div class="widget">
  <div class="widget-body">
    <div class="widget-header widget-header1">
     
      <div class="input-group pull-left">
        <input
          type="text"
          name="searchText"
          class="input-sm pull-left"
          (keyup.enter)="onFilterChanged()"
          style="margin-top:3px;width: 300px"
          [(ngModel)]="filterValue"
          placeholder="Search criteria includes all the visible fields.."
        />

        <span class="input-group-btn pull-left">
          <button
            (click)="onFilterChanged()"
            class="btn btn-secondary btn-sm"
            style="margin-top:3px;"
          >
            <i class="fa fa-search"></i>Search
          </button>
        </span>
        <i
          class="fa fa-info-circle margin-top-10 margin-left-5"
          style="font-size:16px;"
          title="Multiple search keywords can be keyed-in as comma-separated list."
        ></i>
      </div>
      <div
        class="pull-right"
        style="padding-top: 10px;margin-right: 45px;"
        *ngIf="status == 'scanned'"
      >
        Click here to start the SCANNING process.
      </div>
      <div
        id="scanner-close"
        *ngIf="status == 'scanned'"
        class="scanerSerch scanner-open"
        (click)="toggleScaner(0)"
      >
        <i class="fa fa-close"></i>
      </div>
      <div
        id="scanner-open"
        *ngIf="status == 'scanned'"
        class="scanerSerch"
        (click)="toggleScaner(1)"
      >
        <i class="fa fa-qrcode"></i>
      </div>
      <div class="scaner-body" *ngIf="status == 'scanned'">
        <input
          type="text"
          name="scanRMA"
          class="form-control"
          #scanRMA
          ngModel
          style="width:400px"
          placeholder="Scan RMA# or CO-Tracking#"
          (keyup.enter)="scanRMAByRMANumber(scanRMA.value)"
        />
        <div class="clearfix"></div>
        <div class="padding-top-5" style="font-size: 12px;">
          <i
            >Please scan the RMA# or CO-Tracking# by using the bar-code scanner.
            Alternatively, you can key in the RMA# or Tracking# and then press
            enter for scanning the parcel.</i
          >
        </div>
      </div>
      <div class="widget-buttons">
        <button
          class="btn btn-sm btn-primary ng-hide Authorize AUTH_3068"
          data-toggle="tooltip"
          data-placement="top"
          type="button"
          (click)="Show('Edit')"
          *ngIf="ntID > 0"
        >
          <i class="glyphicon glyphicon-edit"></i>View
        </button>
        <button
          class="btn btn-sm btn-danger"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          (click)="Delete()"
          *ngIf="false"
        >
          <i class="glyphicon glyphicon-trash"></i>Delete
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="no-padding marginTop34 card1">
      <!-- <tabs>
            <tab *ngFor="let option of Tabs; let i = index" class="menu-option" (select)="renderRMAqueue(option.code)" [tabTitle]="option.name"> -->
      <ag-grid-angular
        #agGrid
        id="grid1"
        style="height:100%;width:100%"
        class="ag-theme-balham"
        (gridReady)="onGridReady($event)"
        [gridOptions]="gridOptions"
        (selectionChanged)="onSelectionChanged()"
        (rowClicked)="onRowClicked($event)"
      >
      </ag-grid-angular>
      <!-- </tab>
        </tabs> -->
    </div>
    <div class="clearfix"></div>
  </div>
</div>
