/**********New CSS start here***********/

.pr-0 {
    padding-right: 0px!important;
}

.btn-info.btn_theme,
.btn-info.btn_theme:focus {
    background-color: #00bcd4 !important;
    border-color: #00bcd4;
    color: #ffffff;
}

.rma_creationbx hr {
    margin-top: 10px;
}

.rma_creationbx .form-group {
    margin-top: 30px;
}


/*****Details CSS****/

.rma_creationdetail p {
    margin: 0px;
}

.rma_creationdetail p label span {
    color: #8bc34a;
}

.shipingdetail_box h3 {
    color: #212529;
    font-size: 16px;
    font-weight: bold!important;
    margin-bottom: 5px;
}

.shipingdetail_box h3 a i {
    color: #00bcd4;
    font-style: italic;
}

.rma_creationdetail .iconbx {
    float: left;
    width: 10%;
    font-size: 24px;
    padding-right: 7px;
}

.shipingdetail_box {
    float: left;
    width: 90%;
}

.shipingdetail_box address {
    margin-bottom: 0px;
}

.rmadet_prod hr {
    margin-top: 10px;
}

.reason_box .img_box {
    height: 130px;
    width: 100%;
    border: 2px solid #e9e9e9;
    white-space: nowrap;
    text-align: center;
    margin: 0;
}

.align-self-center {
    align-self: center!important;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.reason_box .img_box img {
    vertical-align: middle;
    max-height: 130px;
    max-width: 100%;
}

.info_box {
    height: 130px;
    vertical-align: middle;
    display: flex;
    flex-flow: wrap;
    padding: 5px 0px;
}

.info_box label {
    margin: 0px;
}

.reason_box label {
    font-size: 14px;
    color: #141c1d;
    font-weight: 400;
    width: 100%;
}

.reason_box label strong {
    font-size: 14px;
    font-weight: 800;
}

.colorgreen {
    color: green!important;
}

.pl-0 {
    padding-left: 0px!important;
}

.reason_box .btn.btn_theme {
    width: 100%;
    text-align: center;
}

.reason_box input[type="file"] {
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
    height: 32px;
    opacity: 0;
}

.outerinfobx {
    border: 1px solid #e9e9e9;
    padding: 5px 15px;
    height: 130px;
}

.outerinfobx .input_box .form-group {
    margin-bottom: 5px!important;
}

.reason_box label sup {
    color: #ff0000;
}

.reason_box {
    margin-bottom: 15px;
}

.colorred {
    color: #ff0000!important;
}

.boportal .email_notification_box {
    padding: 15px 10px;
    border: 1px solid #e9e9e9;
    margin-bottom: 15px;
}

.boportal .email_notification_box h4 {
    margin-bottom: 10px!important;
    font-size: 18px;
    font-weight: bold!important;
    color: #212529;
    text-transform: uppercase;
}

.boportal .email_notification_box label {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold!important;
    color: #212529;
}

.rmaButtons .btn.btn_theme {
    margin-right: 10px;
}

.boportal .tab-content {
    background-color: #ffff;
    box-shadow: none;
    margin-top: 1px;
    border-top: 1px solid #e9e9e9;
}

.addmore {
    position: absolute;
    width: 100%;
    left: -15px;
    bottom: -62px;
    border: 1px solid #e9e9e9;
    padding: 10px;
    height: 55px!important;
    background: #ffffff!important;
    background-color: #fff!important;
    z-index: 1;
}

.addmore .btn {
    padding: 6px 7px!important;
    width: 100%;
    text-align: center;
}

.addmore::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #e9e9e9 transparent;
    position: absolute;
    top: -9px;
    right: 35px;
}


/****************Detail Confirmation CSS****************/

.detail_confirmation p.success {
    font-size: 12px;
}

.detail_confirmation .btn.btn-warning {
    margin-right: 10px;
}

.detail_prod_confirmation .note {
    font-size: 14px;
    color: #000000;
    background: #f7f3f3;
    padding: 5px 10px;
}

.addinfo h5 {
    font-size: 14px;
    font-weight: bold!important;
    color: #212529;
    margin-bottom: 10px!important;
    text-transform: uppercase;
}

.shipdocs,
.rt_status {
    border-right: 1px solid #cccccc;
}

.infobx label {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 12px;
}

.infobx p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 12px;
}

.infobx {
    border-right: 1px solid #cccccc;
}

.infobx.noborder {
    border-right: 0px solid #cccccc;
}

.addinfo {
    margin-bottom: 15px;
}


/************New CSS end Here***********/

.orderNumber {
    float: none;
    margin: 0px auto !important;
    border: 0px solid #f8f8f8;
    padding: 40px 50px;
    /* margin-top: 100px !important;
    margin-bottom: 100px !important; */
}

.form-control2 {
    height: 38px!important;
    font-size: 20px;
    background-color: #FFF;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px;
}

h3 {
    font-weight: 500 !important;
    margin: 0px;
}

a {
    cursor: pointer;
}

tr {
    margin-top: 5px;
}

.advance-search {
    background-color: #ffffff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: calc(100% - 118.4px);
    margin-top: -30px;
    position: relative;
}

.open-search {
    display: none;
}