<style>
    .ui-tabs .ui-tabs-nav li {
        width: 35px !important;
    }
    .nav-tabs {
        margin-bottom: 0;
        margin-left: 0;
        border: 0;
        top: 2px;
        background: none !important;
        -webkit-box-shadow: 0 0 4px rgba(0,0,0,0);
        -moz-box-shadow: 0 0 4px rgba(0,0,0,0);
        box-shadow: 0 0 4px rgba(0,0,0,0);
    }
    .nav-tabs > li {
        margin: 0px 3px 0px 3px;
    }
    .nav-tabs > li > a, .nav-tabs > li > a:focus {
        border-radius: 0 !important;
        color: #777;
        margin-right: -1px;
        line-height: 24px;
        position: relative;
        z-index: 11;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #262626;
        border: 0;
        border-top: 2px solid #333;
        border-bottom-color: transparent;
        z-index: 12;
        line-height: 24px;
        margin-top: -2px;
        box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
    }
    .nav-tabs > li a:hover {
        color: #fff;
    }
    .nav-tabs > li > a, .nav-tabs > li > a:focus {
        border-radius: 0 !important;
        color: #fff;
    }
    .nav > li.disabled > a {
        color: #fff;
        background-color: gray;
    }
    .nav > li.disabled > a:hover {
        color: #fff;
        background-color: gray;
    }
</style>

<form #f="ngForm" novalidate >    
    <div class="widget">
        <!-- <div class="widget-header">            
            <div class="widget-buttons">
                <button class="btn btn-sm btn-primary" type="button" (click)="onSubmit(f.form)">
                    <i class="glyphicon glyphicon-floppy-disk"></i>Save
                </button>
            </div>
        </div> -->
        <div class="widget-body">
            <div class="form-group">
                <label class="control-label col-sm-12 col-md-12 col-lg-12" style="color:red;">{{errorMessage}}</label>
            </div>
            <div class="form-group" *ngIf="f.form.touched && !f.form.valid && isSaveClick">
                <div class="validationmsg">
                    <b> Please fill the asterisk (*) fields. </b>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Initials.isVisible">{{e_localize.Initials.headerName}}<span *ngIf="e_localize.Initials.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.Initials.isVisible">
                    <select name="Initials" [(ngModel)]="singleUser.Initials" class="form-control" [required]="e_localize.Initials.isRequired" [disabled]="!e_localize.Initials.isEnabled" #Initials="ngModel">
                        <option [value]="undefined" [disabled]="e_localize.Initials.isRequired">--Select--</option>
                        <option *ngFor="let INT of userInitials" [value]="INT.InitialIName">{{INT.InitialIName}}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>

                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.CellNumber.isVisible">{{e_localize.CellNumber.headerName}}<span *ngIf="e_localize.CellNumber.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.CellNumber.isVisible">
                    <div class="input-group pull-left col-md-3" style="width:100%">
                        <input type="tel" id="mobile-number" disabled="disabled" style="width:84px;float: left;height: 28px;">
                        <div style="width: calc(100% - 84px);float:left;">
                            <input type="text" id="CellNumber" name="CellNumber" class="form-control" style="width:100%;float:left" maxlength="15" placeholder="Number with area code" [(ngModel)]="singleUser.CellNumber" #CellNumber="ngModel" (focusout)="CheckPhoneVal()" [required]="e_localize.CellNumber.isRequired" [disabled]="!e_localize.CellNumber.isEnabled">
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="form-group">

                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.FirstName.isVisible">{{e_localize.FirstName.headerName}}<span *ngIf="e_localize.FirstName.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.FirstName.isVisible">
                    <input type="text" name="firstName" class="form-control" [(ngModel)]="singleUser.FirstName" placeholder="First Name" maxlength="50" #firstName="ngModel" [required]="e_localize.FirstName.isRequired" [disabled]="!e_localize.FirstName.isEnabled" />
                    <div class="clearfix"></div>
                </div>                                
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.MiddleName.isVisible">{{e_localize.MiddleName.headerName}}<span *ngIf="e_localize.MiddleName.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.MiddleName.isVisible">
                    <input type="text" name="MiddleName" class="form-control" [(ngModel)]="singleUser.MiddleName" placeholder="Middle Name" maxlength="50" [required]="e_localize.MiddleName.isRequired" [disabled]="!e_localize.MiddleName.isEnabled">
                </div>                 
                <div class="clearfix"></div>
            </div>

            <div class="form-group">                
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.LastName.isVisible">{{e_localize.LastName.headerName}}<span *ngIf="e_localize.LastName.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.LastName.isVisible">
                    <input type="text" name="LastName" class="form-control" [(ngModel)]="singleUser.LastName" placeholder="Last Name" maxlength="50" [required]="e_localize.LastName.isRequired" [disabled]="!e_localize.LastName.isEnabled">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Email.isVisible">{{e_localize.Email.headerName}}<span *ngIf="e_localize.Email.isRequired" style="color:red;">*</span>::</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.Email.isVisible">
                    <input type="email" name="Email" validateEmail class="form-control" [(ngModel)]="singleUser.Email" placeholder="first@someone.com" maxlength="50" #Email="ngModel" [required]="e_localize.Email.isRequired" [disabled]="!e_localize.Email.isEnabled">
                    <div style="color:red" [hidden]="Email.valid || Email.pristine">
                        * Enter valid Email.
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="clearfix"></div>
            </div>

            <!-- <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Address1.isVisible">{{e_localize.Address1.headerName}}<span *ngIf="e_localize.Address1.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.Address1.isVisible">
                    <input type="text" name="Address" class="form-control" [(ngModel)]="singleUser.Address1" placeholder="Address" maxlength="100" #Address="ngModel" [required]="e_localize.Address1.isRequired" [disabled]="!e_localize.Address1.isEnabled">
                    <div class="clearfix"></div>
                </div>

                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Address2.isVisible">{{e_localize.Address2.headerName}}<span *ngIf="e_localize.Address2.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.Address2.isVisible">
                    <input type="text" name="Address2" class="form-control" [(ngModel)]="singleUser.Address2" placeholder="Address2" maxlength="100" [required]="e_localize.Address2.isRequired" [disabled]="!e_localize.Address2.isEnabled">
                    <div class="clearfix"></div>

                </div>

                <div class="clearfix"></div>
            </div> -->
            <!-- <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded" style="display:none;">Country <span style="color:red;display:none;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded" style="display:none;">
                    <select id="country" name="Country" class="form-control"
                            [(ngModel)]="singleUser.CountryID" (change)="onCountryChange($event.target.value)" #Country="ngModel">
                        <option [value]="undefined" disabled="disabled">--Select Country--</option>
                        <option *ngFor="let c of countryList" [value]="c.CountryID">{{c.CountryName}}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.StateID.isVisible">{{e_localize.StateID.headerName}}<span *ngIf="e_localize.StateID.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.StateID.isVisible">
                    <select name="State" class="form-control"
                            [(ngModel)]="singleUser.StateID" #State="ngModel" [required]="e_localize.StateID.isRequired" [disabled]="!e_localize.StateID.isEnabled">
                        <option [value]="undefined" [disabled]="e_localize.StateID.isRequired">--Select State--</option>
                        <option *ngFor="let s of stateList" [value]="s.StateID">{{s.StateName}}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div> -->
            <!-- <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.City.isVisible">{{e_localize.City.headerName}}<span *ngIf="e_localize.City.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.City.isVisible">
                    <input type="text" name="City" class="form-control" [(ngModel)]="singleUser.City" placeholder="City" maxlength="50" #city="ngModel" [required]="e_localize.City.isRequired" [disabled]="!e_localize.City.isEnabled">
                    <div class="clearfix"></div>
                </div>

                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.ZipCode.isVisible">{{e_localize.ZipCode.headerName}}<span *ngIf="e_localize.ZipCode.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.ZipCode.isVisible">
                    <input type="text" class="form-control" name="ZipCode" [(ngModel)]="singleUser.ZipCode" placeholder="ZipCode" only-num maxlength="20" #zipcode="ngModel" [required]="e_localize.ZipCode.isRequired" [disabled]="!e_localize.ZipCode.isEnabled">
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div> -->
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.UserImage.isVisible">{{e_localize.UserImage.headerName}}:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.UserImage.isVisible">
                    <div class="browsefile" style="margin-bottom:10px;">
                        <img [src]="singleUser.UserImage" id="fileimagethumbnail" style="height:50px;width:50px;" />
                        <input type="file" name="userimage" accept="image/*" (change)="handleInputChange(userimage, $event);" validateFile
                               style="position:initial;height:22px;opacity:1;background:#fbfbfb;width:100%;">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.FixedLineNumber.isVisible">{{e_localize.FixedLineNumber.headerName}}<span *ngIf="e_localize.FixedLineNumber.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.FixedLineNumber.isVisible">
                    <input type="text" class="form-control" name="Address2" [(ngModel)]="singleUser.FixedLineNumber" phone-input maxlength="15" onkeypress="javascript:return numberonly(this,event,event);" [required]="e_localize.FixedLineNumber.isRequired" [disabled]="!e_localize.FixedLineNumber.isEnabled">
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div> -->
            </div>

            <div class="clearfix"></div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.UserName.isVisible">{{e_localize.UserName.headerName}}<span *ngIf="e_localize.UserName.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.UserName.isVisible">
                    <input type="text" class="form-control" id="txtUserName" name="UserName" [(ngModel)]="singleUser.UserName" placeholder="User Name" maxlength="50" #username="ngModel" [required]="e_localize.UserName.isRequired" [disabled]="singleUser.Action == 'Update'">
                    <div class="clearfix"></div>
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.LanguageID.isVisible">{{e_localize.LanguageID.headerName}}<span *ngIf="e_localize.LanguageID.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="IsLoaded && e_localize.LanguageID.isVisible">
                    <select id="Language" name="Language" class="form-control" required [(ngModel)]="singleUser.LanguageID" #Language="ngModel">
                        <option [value]="undefined" [disabled]="disabled">--Select--</option>
                        <option *ngFor="let lang of languageList" [value]="lang.LanguageID">{{lang.Code}} | {{lang.Name}}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <!--<div class="form-group" *ngIf="singleUser.Action == 'Update'">
                <label class="control-label col-sm-3 col-md-3 col-lg-3">Change Password:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6" style="float:left;padding-top:4px;"> 
                        <input type="checkbox" name="IsActive" [(ngModel)]="IsChangePwd" class="checkbox" style="opacity:1 !important;left:0px" />
                    </div>
                    
                </div>
                <div class="clearfix"></div>
            </div>-->

            <!--<div class="form-group" *ngIf="singleUser.Action == 'Add' || IsChangePwd">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Password.isVisible">{{e_localize.Password.headerName}}<span *ngIf="e_localize.Password.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Password.isVisible">
                    <input type="password" class="form-control" id="Password" name="Password" [(ngModel)]="singleUser.Password"
                           placeholder="Password..." maxlength="50" #Password="ngModel" [required]="e_localize.Password.isRequired" [disabled]="!e_localize.Password.isEnabled">
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>-->

            <!--<div class="form-group" *ngIf="singleUser.Action == 'Add' || IsChangePwd">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Password.isVisible">{{e_localize.PasswordVerificationToken.headerName}}<span *ngIf="e_localize.Password.isRequired" style="color:red;">*</span>:</label>
                <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="IsLoaded && e_localize.Password.isVisible">
                    <input type="password" id="PasswordConfirmation" class="form-control" name="PasswordConfirmation" [(ngModel)]="singleUser.PasswordConfirmation"
                           pw-check="Password" placeholder="{{e_localize.PasswordVerificationToken.headerName}}" maxlength="50" #pwdconfirm="ngModel" [required]="e_localize.Password.isRequired" [disabled]="!e_localize.Password.isEnabled">
                    <div class="clearfix"></div>                    
                </div>
                <div class="clearfix"></div>
            </div>-->
            
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>

<message #pop cssClass="modal-msg"></message>