@import '../t3.component.css';
.dropdown.open .dropdown-menu {
    display: block;
}


/*****Status Bar CSS********/

.progressbar {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    color: #a3a3a3;
    z-index: 0;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 22px;
    border: 2px solid #b6b6b6;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #d1d1d1;
    font-family: FontAwesome;
    font-size: 14px;
}

.progressbar li.initiated:before {
    content: "\f16b";
    font-family: FontAwesome;
}

.progressbar li.intransit:before {
    content: "\f0d1";
}

.progressbar li.received:before {
    content: "\f2b6";
}

.progressbar li.inrepair:before {
    content: "\f0ad";
}

.progressbar li.repaired:before {
    content: "\f046";
}

.progressbar li.shipped:before {
    content: "\f0d1";
}

.progressbar li.closed:before {
    content: "\f155";
}


/* .progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
} */

.progressbar li:after {
    width: 95%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #d1d1d1;
    top: 15px;
    left: -42%;
    z-index: -40;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #1a1a1a;
}

.progressbar li.active:before {
    border-color: #000000;
    background: #1a1a1a;
    color: #ffffff;
}

.progressbar li.active+li:after {
    /* background-color: #1a1a1a; */
}

.progressbar li:first-child:before {
    border-color: #000000;
    background: #1a1a1a;
    color: #ffffff;
}
.progressbar li:first-child{
    color:#1a1a1a;
}

.progressbar li:first-child+li:after {
    background-color: #1a1a1a;
}

.status_box {
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    margin-top: 15px;
}

.prodbox {
    margin-top: 30px;
}


/*****Product Progress Bar****/

.collapse.in {
    display: block!important;
}

.product_progressbar {
    display: block;
    width: 100%;
    float: left;
    padding: 11px 0;
}

.product_progressbar .progressbar li {
    list-style-type: none;
    width: 16%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    color: #a3a3a3;
    z-index: 0;
}

.product_progressbar .progressbar li.requested:before {
    content: "\f1d8";
}

.product_progressbar .progressbar li.approved:before {
    content: "\f046";
}

.product_progressbar .progressbar li.received:before {
    content: "\f2b6";
}

.product_progressbar .progressbar li.replaced:before {
    content: "\f1b8";
}

.product_progressbar .progressbar li.shipped:before {
    content: "\f0d1";
}

.product_progressbar .progressbar li.delivered:before {
    content: "\f058";
}

.product_progressbar .progressbar li:after {
    left: -30%;
}

.progressbar li.requested:before {
    content: "\f1d8";
}

.progressbar li.approved:before {
    content: "\f046";
}

.progressbar li.received:before {
    content: "\f2b6";
}

.progressbar li.replaced:before {
    content: "\f1b8";
}

.progressbar li.shipped:before {
    content: "\f0d1";
}

.progressbar li.delivered:before {
    content: "\f058";
}


/***********************/

a.replaceaccord {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #e9e9e9;
    margin-top: 10px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

a.replaceaccord:hover {
    text-decoration: none;
}

.card.card-body .product_detail_box .imgbx img {
    width: 90%;
}

.replaceaccord:after {
    font-family: 'FontAwesome';
    content: "\f077";
    float: right;
}

.replaceaccord.collapsed:after {
    content: "\f078";
}

.add_info_box {
    background-color: #e9e9e9;
    padding: 10px;
    margin-top: 30px;
}

.add_info_box h5 {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold!important;
    text-transform: uppercase;
}

.add_info_box hr {
    border-color: #ffffff;
}

.add_info_box label {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 14px;
}

.add_info_box p {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    line-height: 14px;
}

.btn.btn_rounded {
    border-radius: 25px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 20px;
}

.note {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    margin-top: 15px;
}

.cancelProd_btn:hover {
    background-color: #dc3545!important;
}

.modal-content .modal-header {
    border-radius: 0!important;
}