<style>
    .ui-tabs .ui-tabs-nav li {
        width: 35px !important;
    }
    
    .nav-tabs {
        margin-bottom: 0;
        margin-left: 0;
        border: 0;
        top: 2px;
        background: none !important;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    }
    
    .nav-tabs>li {
        margin: 0px 3px 0px 3px;
    }
    
    .nav-tabs>li>a,
    .nav-tabs>li>a:focus {
        border-radius: 0 !important;
        color: #777 !important;
        margin-right: -1px;
        line-height: 24px;
        position: relative;
        z-index: 11;
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        color: #262626 !important;
        border: 0;
        border-top: 2px solid #333;
        border-bottom-color: transparent;
        z-index: 12;
        line-height: 24px;
        margin-top: -2px;
        box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15);
    }
    
    .nav-tabs>li a:hover {
        color: #262626 !important;
    }
    
    .nav-tabs>li>a,
    .nav-tabs>li>a:focus {
        border-radius: 0 !important;
        color: #262626 !important;
    }
    
    .nav>li.disabled>a {
        color: #262626;
        background-color: gray !important;
    }
    
    .nav>li.disabled>a:hover {
        color: #262626 !important;
        background-color: gray !important;
    }
    
    .nav-tabs>li:first-child>a {
        color: #262626 !important;
    }
</style>

<form #f="ngForm" name="f" novalidate>
    <div class="widget">
        <div class="widget-body">
            <div class="widget-header widget-header1">
                <!-- <span class="widget-caption pull-left font-40" *ngIf="SelectedRegion.RegionID == 0"><b>
                    Add {{moduleTitle}}</b> </span> -->
                <span class="widget-caption pull-left font-40"><b><span>View</span> Region Detail</b>
                </span>
                <div class="widget-buttons">
                    <button type="button" class="btn btn-sm waves-effect waves-light btn-danger mr-2" (click)="CancelForm()">
                        <i class="fa fa-long-arrow-left"></i> Back
                    </button>
                    <button class="btn btn-sm waves-effect waves-light btn-success" type="submit" (click)="onSubmit(f.form)" *ngIf="((LocalAccess | contains:'Add') && SelectedRegion.RegionID == 0) || (LocalAccess | contains:'Edit')">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="card1">
                    <div class="no-padding marginTop34">
                        <div class="form-group" *ngIf="f.form.touched && !f.form.valid  && isSaveClick">
                            <div class="validationmsg" style="color:red;">
                                <b> Please fill the asterisk (*) fields. </b>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Code <span
                                    style="color:red;">*</span></label>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <input type="text" #RegionCode="ngModel" [(ngModel)]="SelectedRegion.RegionCode" name="RegionCode" value="{{SelectedRegion.RegionCode}}" class="form-control" [disabled]="true" />
                                <div *ngIf="RegionCode.invalid && (RegionCode.dirty || RegionCode.touched)" class="alert alert-danger">
                                    <div *ngIf="RegionCode.errors.required">
                                        Region Code is required.
                                    </div>
                                    <div *ngIf="RegionCode.errors.minlength">
                                        Region Code must be at least 50 characters long.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Tax <span style="color:red;">*</span></label>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <input type="text" #Tax="ngModel" [(ngModel)]="SelectedRegion.Tax" name="Tax" value="{{SelectedRegion.Tax}}" class="form-control" required />
                                <div *ngIf="Tax.invalid && (Tax.dirty || Tax.touched)" class="alert alert-danger">
                                    <div *ngIf="Tax.errors.required">
                                        Tax is required.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Name <span
                                    style="color:red;">*</span></label>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <input required maxlength="50" type="text" class="form-control" #RegionName="ngModel" name="RegionName" [(ngModel)]="SelectedRegion.RegionName" value="{{SelectedRegion.RegionName}}" />

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Description </label>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <input required maxlength="50" type="text" class="form-control" #RegionName="ngModel" name="RegionDescription" [(ngModel)]="SelectedRegion.Description" value="{{SelectedRegion.Description}}" />

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Active :</label>
                            <label style="float:left!important; margin-top:8px!important; margin-left:12px;">
                                <input name="isactive" class="checkbox-slider colored-palegreen yesno"
                                    style="width: auto;height: auto;" [(ngModel)]="SelectedRegion.IsActive"
                                    type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
<tabs>
    <tab tabTitle="Carrier">
        <div class="form-group" style="padding-top: 8px;">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <select class="form-control" [(ngModel)]="selectedCarrierGateway" [ngModelOptions]="{standalone: true}" (change)="onSelectedCarrierGatewayChanged()">
          <option [value]="undefined" disabled>--Select--</option>
          <option [value]="i.TypeCode" *ngFor="let i of AllCarrierGateway">{{i.TypeName}}</option>
        </select>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div style="height:278px;">

            <div *ngIf="CarrierGatewayAttribute">
                <div class="form-group">
                    <label class="control-label col-md-12"><b>Attributes</b></label>
                </div>
                <div class="form-group" *ngFor="let att of CarrierGatewayAttribute; let ind = index;">

                    <label *ngIf="att.TypeName != booleanText && att.TypeName != 'Brands'" class="control-label col-sm-3 col-md-3 col-lg-3">{{att.Description}} :</label>
                    <div *ngIf="att.TypeName != booleanText && att.TypeName != 'Brands'" class="col-sm-3 col-md-3 col-lg-3">
                        <input type="text" class="form-control" name="{{att.TypeCode}}" [(ngModel)]="att.AttributeValue" placeholder="{{att.Description}}">
                    </div>

                    <div *ngIf="att.TypeName == booleanText">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">{{att.Description}}
              :</label>
                        <label style="float:left!important; margin-top:8px!important; margin-left:12px;">
              <input type="checkbox" name="_{{att.TypeCode}}" class="checkbox-slider colored-palegreen yesno"
                [(ngModel)]="att.AttributeValue" id="checkbox{{att.TypeLookUpID}}"
               >
              <span class="text"></span>
            </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </tab>
</tabs>