<style>
  .glyphicon.spinning1 {
      animation: spin 1s infinite linear;
      display: inline-block;
  }
</style>

<div style="background-image: url(assets/img/Login-bg.jpg);background-size: cover;width:100%;height:100%;">
</div>
<div class="login-container animated fadeInDown">
  <div class="loginbox">
      <div class="text-center" style="margin-bottom:20px;"><img style="width: 60%;" src="assets/img/RL-logo-1.png" />
      </div>
      <div class="loginbox-textbox">
          <input type="password" class="form-control" autocomplete="off" ng-class="submited?'ngdirty':''"
              [(ngModel)]="pwdchangeData.newPassword" placeholder="New Password" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" required />
      </div>
      <div class="loginbox-textbox">
          <input type="password" class="form-control" autocomplete="off" ng-class="submited?'ngdirty':''"
              [(ngModel)]="pwdchangeData.confirmPassword" placeholder="Confirm Password" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" required />
      </div>
      <div class="loginbox-submit text-align-right" style="cursor:pointer;">
          <button type="button" class="btn btn-primary btn-block" [disabled]="pwdchangeData.confirmPassword.length<=0"
              (click)="ChangePassword()">
              <i *ngIf="loginLoader" class="glyphicon glyphicon-refresh spinning1"></i>
              Submit</button>
          <div class="clearfix"></div>
      </div>
      <div style="padding-left: 20px;padding-right:20px;">
          <hr>
      </div>
      <div class="loginbox-forgot">
          <button class="btn btn-link" routerLink="/auth/login">Back To Login</button>
      </div>
  </div>
</div>