
<table *ngFor="let r of Rows; let i = index; trackBy: trackByFn" id="{{r}}" style="width:100%;" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td *ngFor="let Child of StructureData.Childs | has:'RowIndex':r ; let j = index; trackBy: trackByFn" colspan="100" data-toggle="dropup" id="Col{{Child.PartnerLocationID}}" class="dropdown-toggle text-align-left cl-td" [ngStyle]="{'background-color':Child.ColorCode}">
            <!--row{{Child.RowIndex}}-{{Child.PartnerLocationID}}-{{r}}-{{j}}-->

            <div class="btn-group">                
                <button *ngIf="Child.LocationName != '[Level Name]'" id="btn{{Child.PartnerLocationID}}" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="OnLocationSelectedCallback(Child)">
                    {{Child.LocationName}}
                </button>
                <span style="display:none;">{{Child.LocationName}}</span>
            </div>
            <!--Location control Start-->
            <loc-dynamic id="{{Child.PartnerLocationID}}" [StructureData]="Child" (LocationSelectedEvent)="OnLocationSelectedCallback($event)"></loc-dynamic>
            <!--Location control End-->
        </td>
    </tr>
</table>


