<div class="widget" [hidden]="!ListView">
    <div class="widget-body">
        <div class="widget-header ">
            <span class="widget-caption pull-left font-40"><b>Country</b> </span>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 pt-3">
                <select id="selectedCountry" class="form-control-mb-12" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCountry" (change)="getCountry($event.target.value)">
                    <option *ngFor="let reg of CountryList" [value]="reg.CountryID">{{reg.CountryName}}</option>
                </select>
            </div>
            <span class="widget-caption pull-left font-40"><b>State</b> </span>
            <div style="margin-left: -1%;" class="col-sm-3 col-md-3 col-lg-3 col-xs-12 pt-3">
                <select id="selectedState" class="form-control-mb-12" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedState" (change)="getState($event.target.value)">
                    <option *ngFor="let reg of StateList" [value]="reg.StateID">{{reg.StateName}}</option>
                </select>
            </div>
            <span class="widget-caption pull-left font-40"><b>{{moduleTitle}}</b> </span>
            <div class="input-group pull-left margin-left-20 col-md-3">
                <input type="text" name="searchText" class="form-control input-sm" style="margin-top:3px;width:250px;" [(ngModel)]="filterText" placeholder="Search...">
                <span class="input-group-btn">
                    <button (click)="onFilterChanged()" class="btn btn-secondary btn-sm" style="margin-top:3px;"><i
                            class="fa fa-search"></i>Search</button>
                </span>
            </div>
            <div class="widget-buttons">
                <button class="btn btn-sm btn-primary" type="button" (click)="onAddCity()" *ngIf="isAddConfigSetup$ && LocalAccess | contains:'Add'">
                    <i class="glyphicon glyphicon-plus-sign"></i>Add
                </button>
                <button class="btn btn-sm btn-primary" id="btnEdit" *ngIf="isEditConfigSetup$" (click)="onEditCity()">
                    <i class="glyphicon glyphicon-edit"></i>Edit
                </button>
                <!-- <button class="btn btn-sm btn-danger" (click)="onDeleteCountry()"
                    *ngIf="isDeleteConfigSetup$ && LocalAccess | contains:'Delete'">
                    <i class="glyphicon glyphicon-trash"></i>Delete
                </button> -->
            </div>
        </div>
        <div class="card1 no-padding marginTop34">
            <ag-grid-angular #agGrid class="agc-grid ag-theme-balham" [ngClass]="{'agc-grid-popup':(GridType=='popup') }" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" (selectionChanged)="GridType != 'popup' && onSelectionChanged()" (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>



<div class="" *ngIf="!ListView">
    <form name="Country" #f="ngForm" class="css-form" novalidate>
        <div class="widget">
            <div class="widget-body">
                <div class="widget-header ">
                    <span class="widget-caption" *ngIf="CurrentCityObj.StateID == undefined"><b>Add {{moduleTitle}}</b>
                    </span>
                    <span class="widget-caption" *ngIf="CurrentCityObj.StateID > 0"><b><span
                                *ngIf="LocalAccess | contains:'Edit'">Edit</span> {{moduleTitle}}</b>
                    </span>
                    <div class="widget-buttons">
                        <button class="btn btn-sm btn-danger" type="button" (click)="Cancel()">
                            <i class="glyphicon glyphicon-floppy-remove"></i>Back
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" *ngIf="LocalAccess | contains:'Edit'" (click)="Save(f.form)">
                            <i class="glyphicon glyphicon-floppy-disk"></i>Save
                        </button>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div class="form-group" *ngIf="f.form.touched && !f.form.valid && isSaveClick">
                        <div class="validationmsg">
                            <b> Please fill the asterisk (*) fields. </b>
                        </div>
                        <div class="clearfix"></div>
                    </div>




                    <div class="form-group" *ngIf="IsLoaded">
                        <!--<label class="control-label  col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.RegionID.isVisible">{{e_localize.RegionID.headerName}} <span *ngIf="e_localize.RegionID.isRequired" style="color:red;">*</span>:</label>-->
                        <!--<div class="col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.RegionID.isVisible">
                          
                            <select #ActionType="ngModel" class="form-control" [required]="e_localize.RegionID.isRequired" [disabled]="!e_localize.RegionID.isEnabled"
                                    [(ngModel)]="CurrentCountryObj.RegionID"
                                    name="ActionType">
                                <option [value]="undefined" [disabled]="e_localize.RegionID.isRequired">
                                    --Select Region--
                                </option>
                                <option [value]="i.RegionID" *ngFor="let i of RegionList">{{i.RegionName}}</option>
                            </select>
                           
                        </div>-->

                        <div *ngIf="IsLoaded">

                            <label class="control-label  col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.CityName.isVisible">{{e_localize.CityName.headerName}} <span
                                    *ngIf="e_localize.CityName.isRequired" style="color:red;">*</span>:</label>

                            <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.CityName.isVisible">
                                <input type="text" class="form-control" name="CityName" #CountryName="ngModel" [(ngModel)]="CurrentCityObj.CityName" [required]="e_localize.CityName.isRequired" [disabled]="!e_localize.CityName.isEnabled" placeholder="State Name">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <!--2row-->
                    <div class="form-group" *ngIf="IsLoaded">
                        <label class="control-label  col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.CityCode.isVisible">{{e_localize.CityCode.headerName}} <span
                                *ngIf="e_localize.CityCode.isRequired" style="color:red;">*</span>:</label>
                        <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.CityCode.isVisible">
                            <input type="text" class="form-control" name="CityCode" #CountryCode="ngModel" [(ngModel)]="CurrentCityObj.CityCode" [required]="e_localize.CityCode.isRequired" [disabled]="!e_localize.CityCode.isEnabled" placeholder="State Code">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--country dropdown-->
                    <div class="form-group" *ngIf="IsLoaded">
                        <label class="control-label  col-sm-3 col-md-3 col-lg-3">Country <span style="color:red;">*</span>:</label>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <select id="selectedCountry" class="form-control-mb-12" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCountry" (change)="getCountry($event.target.value)">
                                <option *ngFor="let reg of CountryList" [value]="reg.CountryID">{{reg.CountryName}}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--state dropdown-->
                    <div class="form-group" *ngIf="IsLoaded">
                        <label class="control-label  col-sm-3 col-md-3 col-lg-3">State <span style="color:red;">*</span>:</label>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <select id="selectedState" class="form-control-mb-12" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedState" (change)="getState($event.target.value)">
                                <option *ngFor="let reg of StateList" [value]="reg.StateID">{{reg.StateName}}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" *ngIf="IsLoaded">
                        <label class="control-label  col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.Description.isVisible">{{e_localize.Description.headerName}} </label>
                        <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.Description.isVisible">
                            <input type="text" class="form-control" name="Description" #Description="ngModel" [(ngModel)]="CurrentCityObj.Description" [disabled]="!e_localize.Description.isEnabled" placeholder="Description">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div *ngIf="IsLoaded">
                        <label class="control-label  col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.IsActive.isVisible">{{e_localize.IsActive.headerName}} <span
                                *ngIf="e_localize.IsActive.isRequired" style="color:red;">*</span>:</label>

                        <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="e_localize.IsActive.isVisible">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [required]="e_localize.IsActive"
                                        class="checkbox-slider colored-palegreen yesno"
                                        [disabled]="!e_localize.IsActive" [(ngModel)]="CurrentCityObj.IsActive"
                                        [ngModelOptions]="{standalone: true}"><span class="text">&nbsp;</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </form>

</div>